{
  "presets": [
    "@babel/env",
    "@babel/typescript",
    "@babel/react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-regenerator"
    ],
    [
      "@babel/plugin-syntax-dynamic-import"
    ],
    [
      "transform-class-properties"
    ],
    [
      "@babel/plugin-transform-arrow-functions",
      {
        "spec": true
      }
    ]
  ]
}